/*
Colors used:

Primary Color (White): #F5F5F5;
Secondary Color (Blue): #809CC4;
Secondary Color (Lavender): #472C7A;
Secondary Color (Light Blue): #B9C9D8;
Secondary Color (Black): #0e0e0e;
Secondary Color (Grey): #383d42;

*/

/*header*/

header {
  width: 100%;
  padding-bottom: 130px;
  background-color: #12122C;
  background-size: auto;
  text-align: unset;
  background-clip: border-box;
}

/* font size, weight, line height for body and header */

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0e0e0e;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* image width */

img {
  width: 100%;
}

/* link stylings */

a {
  color: #F5F5F5;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #383d42;
}

a:active { /* selected link */
  color: #0e0e0e;
}


div {
  margin: 0 auto;
  text-align: center;
  width: 95%;
}


/* button styling: view more, about.html, email */


.button {
  display: inline-block; 
  background-color: #809CC4;
  color: #ffffff; 
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 5px solid #ffffff; /* width of the border, type, color */
  transition: 0.5s opacity;
}



.header-button { /* header button styling*/
  display: inline-table; 
  background-color:#12122C;
  color: #ffffff; 
  font-weight: 500;
  padding: 15px;
  border-top: 60px;
  border-radius: 3px;
  border-bottom: 2px;
  text-align: right;
}

#headernav, a{
  color: #383d42;
  text-decoration: none;

}

#headernav a:hover,
a:focus {
  color: #383d42;
}

#headernav a:active { /* selected link */
  color: #0e0e0e;
}

#banner h1 {
  line-height: 1.4;
  color: #00283F;
  font-weight: 600;

}
#banner h1 {
  font-size: 2.75em;
  font-weight: 700;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 10px;
  margin: 10px;
  width: 100%;
  top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#biopic {
  float: left;
  margin-left: 500px;
  width: 20%;
}

#speclist {
  float: left;
  margin-left: 50px;
  width: 20%;
  text-align: left;
}

#bio {
  padding-top: 400px;
  position: relative;
  text-align: justify;
  margin-left: 20px;
  width: 50%;
  
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }
}

.col-md-6 .row::after {
  content: "";
  clear: both;
  display: table;
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
  } 
  nav {
    width: auto;
    float: right;
  }
}


.col-lg-7 .row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
  } 
  nav {
    width: auto;
    float: right;
  }
}

/*sun*/

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
